* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #232323;
  color: #fff;
}
h3 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 4px;
  text-shadow: 2px 2px #494949, 3px 3px #18cdca;
  padding-top: 4rem;
}

/**********************/
/*     Navigation     */
/**********************/
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: #393939;
  position: sticky;
  top: 0;
  z-index: 5;
}
.brand a {
  text-decoration: none;
}
.brand img {
  width: 140px;
  height: 40px;
}
.brand p {
  color: #18cdca;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 4px;
  color: aliceblue;
  text-shadow: 2px 2px #494949, 3px 3px #18cdca;
}
.nav_list {
  display: flex;
}
.nav_list li {
  padding: 10px;
  list-style: none;
}
.nav_list li a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.nav_list li a:hover {
  color: #18cdca;
}

@media screen and (max-width: 768px) {
  .burger_menu {
    cursor: pointer;
  }
  .burger_menu div {
    width: 30px;
    height: 5px;
    margin: 5px;
    border-radius: 4px;
    background: #fff;
    transition: all 0.3s ease-in-out;
  }
  .nav_list {
    position: fixed;
    flex-direction: column;
    align-items: center;
    background: #393939;
    top: 8vh;
    width: 100%;
    padding-bottom: 40px;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s ease-in-out;
  }
}
.switch_menu div {
  background: #18cdca;
}
.switch_menu .one {
  transform: rotate(45deg) translate(6px, 8px);
}
.switch_menu .two {
  opacity: 0;
}
.switch_menu .three {
  transform: rotate(-45deg) translate(6px, -8px);
}
.toggle_navigation {
  transform: scaleY(1);
}

/**********************/
/*     Header         */
/**********************/
.main {
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 4rem;
}
.main p {
  font-size: 3rem;
  font-weight: 600;
  color: #9c9c9c;
}
.main h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}
.main h2 span {
  color: #18cdca;
}
.main button {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
  padding: 0.6rem 1.4rem;
  color: #161515;
  background: #18cdca;
  border: 2px solid #18cdca;
  border-radius: 2rem;
  transition: 0.2s ease-in-out;
}
.main button:hover {
  color: #18cdca;
  background: transparent;
  cursor: pointer;
}

/**********************/
/*   Scroll to About  */
/**********************/
.scroll_down {
  border: 2px solid #18cdca;
  background: #18cdca;
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-radius: 30px;
  height: 100px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: glow 2.5s ease-in-out infinite reverse;
}
/* Animation of scroll to about section */
@keyframes glow {
  0% {
    box-shadow: 0 0 5px #18cdca;
  }
  50% {
    box-shadow: 0 0 14px #18cdca;
  }
  100% {
    box-shadow: 0 0 5px #18cdca;
  }
}
.scroll_down a {
  font-size: 2rem;
  color: #272727;
}
@media screen and (min-width: 768px) {
  .main h2 {
    font-size: 4rem;
  }
  .scroll_down {
    right: 100px;
    bottom: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .main h2 {
    font-size: 6rem;
  }
  .main button {
    font-size: 1.3rem;
    padding: 1rem 2rem;
  }
}

/**********************/
/*     About us       */
/**********************/
.about_img {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.7rem;
}
.about_img img {
  max-width: 100%;
  height: 60vh;
  object-fit: contain;
  border-radius: 6px;
  transition: transform .2s;
}
.about_img img:hover{
  transform: scale(1.1);
}

.first-project{
  color: #fff;
}

.cv-download{
  padding: 10px 20px;
  border-radius: 15px;
  margin-top: 10px;
}

.cv-download:hover{
  background-color:rgb(248, 216, 176);
}

.cv-download a{
  text-decoration: none;
  color: #000;
}
.cv-download a:hover{
  color: #fff;
  text-decoration: underline;
}

.aboutus {
  padding: 1rem;
}
.aboutus p{
  margin-top: 20px;
  line-height: 1.5;
}
.aboutus p:nth-child(1) {
  font-size: 1.4rem;
  font-weight: 500;
}
.aboutus p:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
}
.aboutus span {
  color: #18cdca;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 2px;
}
.aboutus p:nth-child(3) {
  font-size: 1rem;
  margin-top: 0.8rem;
  line-height: 1.5;
}
.aboutus .socials {
  display: inline-flex;
  gap: 1rem;
  margin-top: 0.4rem;
}
.aboutus .socials a {
  color: #18cdca;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 3rem;
  }
  .about_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  .about_img {
    width: 30%;
  }
  .about_img img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  .aboutus {
    width: 60%;
  }
}
@media screen and (min-width: 1096px) {
  .about_img {
    width: 28%;
  }
  .aboutus {
    width: 50%;
  }
  .aboutus p:nth-child(1) {
    font-size: 2rem;
    letter-spacing: 1px;
  }
  .aboutus p:nth-child(2) {
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
  .aboutus .socials a {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1450px) {
  .about_img {
    width: 25%;
  }
}

/**********************/
/*   Tech and Tools   */
/**********************/
.tech_container {
  margin-top: 4rem;
  display: inline-grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: 80px 80px 80px;
  gap: 0.8rem;
  padding: 0.8rem;
}
.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  background: #2e2d2d;
  padding: 0.7rem;
  width: 80px;
  height: 80px;
  transition: all 0.3s ease;
}
.tools:hover {
  background: #272727;
}
.tools img {
  width: 50px;
  padding: 0.7rem;
}
.tools p {
  font-size: 0.6rem;
  letter-spacing: 1px;
  font-weight: 500;
  color: #18cdca;
}
@media screen and (min-width: 600px) {
  .tech_container {
    grid-template-columns: 80px 80px 80px 80px 80px;
  }
}
@media screen and (min-width: 768px) {
  .tech_container {
    grid-template-columns: 100px 100px 100px 100px 100px;
    gap: 1rem;
  }
  .tools {
    width: 100px;
    height: 100px;
  }
  .tools img {
    width: 55px;
  }
  .tools p {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 1096px) {
  .tech_container {
    grid-template-columns: 120px 120px 120px 120px 120px;
    gap: 1.2rem;
  }
  .tools {
    width: 120px;
    height: 120px;
  }
  .tools img {
    width: 65px;
  }
  .tools p {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1450px) {
  .tech_container {
    grid-template-columns: 150px 150px 150px 150px 150px;
    gap: 1.4rem;
  }
  .tools {
    width: 150px;
    height: 150px;
    border-radius: 6px;
  }
  .tools img {
    width: 80px;
  }
  .tools p {
    font-size: 1rem;
  }
}

/**********************/
/*      Projects      */
/**********************/
.works_wrapper {
  margin-top: 4rem;
  display: inline-grid;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}
.work_container {
  width: 300px;
  height: 200px;
  border-radius: 30px;
  border: 3px solid #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1.4rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform .2s;
}
.work_container:hover{
  transform: scale(1.1);
}
.work_container:nth-child(1) {
  background: url(/assets/Pixel-art-maker.png);
}
.work_container:nth-child(2) {
  background: url(/assets/Love-Calc.png);
}
.work_container:nth-child(3) {
  background: url(/assets/js-game.png);
}
.work_container:nth-child(4) {
  background: url(/assets/OmniFood.png);
}
.work_container p:nth-child(1) {
  font-size: 1rem;
  color: #18cdca;
  font-weight: 500;
}
.work_container p:nth-child(2) {
  margin-top: 0.3rem;
  font-size: 0.7rem;
}
.work_container a {
  color: #18cdca;
}
.work_container p{
  background-color: #161515;
  padding: 2%;
}

.fa-github {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.fa-external-link-alt {
  position: absolute;
  top: 1rem;
  right: 2.5rem;
}
@media screen and (min-width: 420px) {
  .work_container {
    width: 380px;
    height: 250px;
  }
}
@media screen and (min-width: 860px) {
  .works_wrapper {
    grid-template-columns: 380px 380px;
    gap: 0 2rem;
  }
  .works_wrapper div:nth-child(even) {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1260px) {
  .works_wrapper {
    grid-template-columns: 400px 400px;
  }
  .work_container {
    width: 400px;
    height: 270px;
  }
  .work_container p:nth-child(1) {
    font-size: 1.3rem;
  }
  .work_container p:nth-child(2) {
    margin-top: 0.4rem;
    font-size: 0.8rem;
  }
}

/**********************/
/*     Contact us     */
/**********************/
.form_wrapper {
  margin-top: 4rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  margin: 1rem;
  background: #393939;
  border-radius: 6px;
}
input,
textarea {
  padding: 1rem;
  margin: 0.2rem;
  color: #18cdca;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  background: #616161;
  border: none;
  border-radius: 4px;
  outline: none;
}
::placeholder {
  color: #18cdca;
}
.form .btn {
  width: 40%;
  align-self: center;
  cursor: pointer;
  transition: 0.2s linear;
  font-weight: 600;
}
.form .btn:hover {
  background: #494949;
}
@media screen and (min-width: 400px) {
  .form {
    width: 400px;
  }
}
@media screen and (min-width: 680px) {
  .form {
    width: 500px;
  }
  .form input,
  .form textarea {
    padding: 1.4rem;
    margin: 0.37rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 800px) {
  .form {
    width: 600px;
  }
}

/**********************/
/*       Footer       */
/**********************/
.footer {
  margin-top: 4rem;
  padding: 2rem 0;
  background: #272727;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 300px;
  align-items: center;
  color: #18cdca;
}
.footer div:nth-child(1) p:nth-child(1) {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 4px;
  text-align: center;
  color: aliceblue;
  text-shadow: 2px 2px #494949, 3px 3px #18cdca;
}
.footer div:nth-child(1) img {
  width: 140px;
  height: 40px;
}
.footer a {
  color: #18cdca;
  text-decoration: none;
}
.footer div:nth-child(2) a {
  font-size: 2rem;
  margin-right: 8px;
}
a i:hover{
  color: darkkhaki;
}
@media screen and (min-width: 480px) {
  .footer {
    flex-direction: row;
    min-height: 200px;
  }
}
